<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<object th:include="fragments/fragment :: header" th:remove="tag"></object>
	</head>
	
	<body>
		<nav th:replace="fragments/fragment :: navbar"></nav>
		
		<h3>Sistem Informasi Kepegawaian</h3>
		<p>Selamat datang di Sistem Informasi Kepegawaian</p>

		<h2>Lihat data pegawai berdasarkan NIP</h2>
		<form action="/pegawai" method="get">
			<p>Masukkan Nomor Induk Pegawai</p>
			<input type="text" name="nip">
			<br>
			<input type="submit" value="Lihat">
		</form>
		<br>
		
		<h2>Lihat Detail Jabatan</h2>
		<form action="/jabatan/view" id="jabatanForm" method="get">
			<p>Pilih Jabatan</p>
			<select required="required" name="idJabatan" form="jabatanForm">
				<option disabled="disabled" selected="selected" >Pilih Jabatan</option>
				<span th:each="jabatan : ${listJabatan}">
					<option th:value="${jabatan.id}" th:text="${jabatan.nama}"></option>
				</span>
			</select>
			<br>
			<input type="submit" value="Lihat">
		</form>
		<br>
		
		<h2>Lihat Pegawai Termuda dan Tertua</h2>
		<form action="/pegawai/termuda-tertua" id="tuaMudaForm" method="get">
			<p>Pilih Instansi</p>
			<select required="required" name="idInstansi" form="tuaMudaForm">
				<option disabled="disabled" selected="selected" >Pilih Instansi</option>
				<span th:each="instansi : ${listInstansi}">
					<option th:value="${instansi.id}" th:text="${instansi.nama} + ' - ' + ${instansi.provinsi.nama}"></option>
				</span>
			</select>
			<br>
			<input type="submit" value="Lihat">
		</form>
		<br>
	</body>
</html>